<div>
  <h2><%= @title %></h2>
  
  <.form
    let={f}
    for={@changeset}
    id="edge-form"
    phx-target={@myself}
    phx-change="validate"
    phx-submit="save">

  <div class="input-group mb-3">
    <%= text_input f, :name, class: "form-control" %>
    <div class="input-group-append">
      <%= submit "Update", class: "btn-sm btn-primary", phx_disable_with: "Saving..." %>
    </div>
    <%= error_tag f, :name %>
  </div>

  </.form>
</div>
